.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

article {
  text-align: center;
  font-size: 1.5rem;
}

.tweetListBox {
  display: flex;
  flex-direction: column;
  align-content: center;
}
